.intro__title {
  display: flex;
  align-items: flex-end;
  font-size: var(--text-title);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
}

.title__highlight {
  color: var(--dark-gray);
}

.title__dot {
  display: block;
  width: 6px;
  height: 6px;
  background-color: var(--dark-gray);
  margin-left: -1px;
  margin-bottom: 10px;
}

.intro__layout {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

.intro__text p {
  font-size: var(--text-normal);
  line-height: 150%;
}

.intro__text p + p {
  margin-top: 16px;
}

.intro__image {
  height: 100%;
  width: 100%;
}
